@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    height: 100vh;
}
.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 50%;
}
.container_login{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    max-width: 700px;
    min-height: 480px;
    justify-content: center;
    align-items: center;
    margin: auto;
    transform: translateY(30%);
}
.container_login span{
    display: flex;
    justify-content: center;
    font-size:15px;
    color:black;
}
.container_login h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #000;
    font-size: 35px;
}
.container_login button{
    display: flex;
    justify-content: center;
    background:#512da8;;
    color:#fff; /* Cambiado a blanco */
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top:10px;
    cursor: pointer;
}
.form-control-login{
    background-color: #eee;
    color: #000;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
@media screen and (max-width: 480px) {
    .container_login{
      text-align: center;
      padding: 20px;
      width: 300px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 50vh;
    }
    .container_login button{
        display: flex;
        justify-content: center;
    }
    }